.neswletter {
    max-width: 100vw;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(/images/Montanha.png) #03257E no-repeat;
}

.news-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h6-footer {
    max-width: 341px;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 19px;
}

.news-form form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-form button {
    color: #03257E;
}

.input-div {
    display: flex;
    flex-direction: column;
}

.input-div label {
    font-family: 'Averta';
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #E9ECEF;
    margin-bottom: 15px;
}

.input-div input {
    width: 225px;
    height: 49px;
    border: 1px solid #E9ECEF;
    background-color: #03257E;
    margin-right: 20px;
    color: #E9ECEF;
}

.input-div input::-webkit-input-placeholder {
    color: #E9ECEF;
    font-family: 'Averta';
    font-size: 12px;
    margin-left: 50px;
}

.footer {
    max-width: 100vw;
    height: 634px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #012765;
}

.footer-area {
    max-width: 90%;
    height: 547px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.end {
    max-width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #002053;
}

.logoipsum-area {
    max-width: 394px;
    margin-left: 80px;
}

.logoipsum-area img {
    margin-bottom: 31px;
}

.logoipsum-area p {
    font-family: 'Averta';
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.logoipsum-area li {
    margin-bottom: 20px;
}

.logoipsum-area a {
    font-family: 'Averta';
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #56CCF2;
}

p.caption {
    font-family: 'Averta';
    font-size: 12px;
    line-height: 15px;
    color: #8AA6D5;
    margin-bottom: 0;
}

.contact-area {
    max-width: 547px;
    margin: 0 60px;
}

.contact-methods {
    display: flex;
}

.ctt-ico {
    display: flex;
    flex-direction: column;
}

.ctt-text {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    margin-bottom: 25px;
}

.ctt-text span {
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 29px;
    color: #56CCF2;
}

.ctt-text a {
    font-family: 'PT Sans';
    font-size: 12px;
    text-decoration-line: underline;
    color: #56CCF2;
    margin-top: 25px;
}

.ctt-ico img {
    width: 24px;
    height: 24px;
    margin-bottom: 38px;
}

.seller {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 394px;
    height: 265px;
    border: 1px solid #56CCF2;
}

.seller-content {
    max-width: 90%;
}

.seller-content p {
    font-size: 16px;
    line-height: 26px;
    color: #8AA6D5;
    margin-bottom: 22px;
}

.seller-content button {
    width: 247px;
    height: 49px;
    background: #56CCF2;
    border-radius: 40px;
}

.detais {
    max-width: 272px;
    height: 547px;
    margin-left: 40px;
}

.social {
    margin-bottom: 40px;
}

.social img {
    margin-right: 22px;
}

.payment-options {
    margin-bottom: 60px;
}

.payment-options img {
    margin-right: 5px;
}

.eco-img img {
    margin-right: 5px;
    margin-bottom: 2px;
}