.bg {
    max-width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #050626 0%, rgba(2, 2, 15, 0.381395) 21.83%, rgba(0, 1, 4, 0.0988803) 45.62%, rgba(0, 0, 0, 0) 57.12%), url(../images/bgmachu.png) no-repeat;
    background-size: cover;
}

.contentTop {
    max-width: 100vw;
}

header {
    display: flex;
    height: 104px;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin-right: 30px;
}

header.header-menu {
    max-width: 100vw;
}

header.header-menu .logoTop {
    margin: 0 70px;
}

.header-menu:hover {
    background-color: #fff;
    border-bottom: 1px solid #626262;
}

.header-menu:hover a:only-child {
    color: #606395;
}

.header-menu:hover #showMenu {
    color: #606395;
}

.header-menu:hover a:focus {
    color: #78BE21;
}

.header-menu:hover #showMenu:focus {
    color: #78BE21;
}

.header-menu:hover button:only-child {
    border: 1px solid #317CAA;
}

.header-menu img {
    width: 122px;
    height: 80px;
}

.header-menu a {
    color: #fff;
    font-size: 16px;
}

button {
    width: 202px;
    height: 49px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    border: 0;
    background-color: #fff;
    margin-right: 80px;
}

.btn {
    display: flex;
    font-family: 'Averta';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-weight: 700;
    color: #317CAA;
}

.languageBtn {
    width: 81px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #626262;
    font-size: 12px;
    margin-right: 30px;
}

a.languageBtn {
    font-size: 12px;
}

.languageBtn img {
    margin-left: 5px;
    width: 19px;
    height: 19px;
}

.menuProd {
    width: 1400px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    position: absolute;
}

.link a {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    color: #606395;
    text-decoration: underline;
    margin: 20px auto;
}

.itens {
    position: relative;
    display: flex;
    justify-content: space-around;
}

#nav {
    position: absolute;
    top: -100%;
    left: 0px;
    bottom: 0px;
    width: 100%;
    transition: top 1s ease-in-out;
}

#nav.show {
    top: 104px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 41px;
}

.item img {
    width: 109px;
    height: 109px;
    margin-bottom: 11px;
}

.item span {
    letter-spacing: 0.03em;
    color: #6A6A57;
    font-size: 14px;
}

#hideMenu {
    width: 35px;
    height: 35px;
    background: #ffe6e6;
    border: 2px solid #b35a5a;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    color: #b35a5a;
    opacity: 0.5;
    transition: opacity(0.3s);
}

#hideMenu:hover {
    opacity: 1;
}

@media(max-width: 760px) {
    .bg {
        min-width: 760px;
        margin: 0;
    }
    header ul a,
    .header-menu:hover,
    .menuProd,
    #hideMenu {
        display: none;
    }
    header.header-menu {
        width: 760px;
        height: 300px;
    }
    header.header-menu img.logoTop {
        width: 300px;
        height: 300px;
    }
    header ul {
        display: block;
    }
    .hover {
        display: none;
    }
    .contentTop {
        width: 760px;
    }
}