/* NATRUAL - SOU + FIBRAS */

.naturals {
    max-width: 100vw;
    height: 779px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.naturals-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.naturals img {
    width: 80%;
}

.natural-food {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -10%;
}

.natural-food h2 {
    max-width: 500px;
    font-size: 38px;
    line-height: 45px;
    color: #FFBF3F;
    margin-bottom: 21px;
}

.natural-food p {
    max-width: 500px;
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #6A6A57;
    margin-bottom: 36px;
}

.yellow-btn {
    background-color: #FFBF3F;
    color: #fff;
}