.sport {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sport-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sport-text {
    margin-left: 20px;
    width: 712px;
    height: 654px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #fff;
}

.sport-text h2 {
    width: 302px;
    height: 76px;
    font-family: 'Averta';
    font-weight: bold;
    font-size: 38px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #FF5E0F;
    margin: 58px 0 47px 56px;
}

.sport-text p {
    max-width: 422px;
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #4F4F40;
    margin-left: 56px;
    margin-bottom: 25px;
}

.orange-btn {
    display: flex;
    font-family: 'Averta';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #fff;
    width: 150px;
    height: 49px;
    margin-left: 56px;
    margin-top: 25px;
    background: #FF5E0F;
    border-radius: 40px;
}

.logo-transp {
    position: relative;
    left: -35px;
    width: 605px;
    height: 477px;
    background: url(/images/sportsimg.png) no-repeat;
}

.play-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #FF5E0F;
    box-shadow: 0px 22px 39px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin: 0;
}

.play-button img {
    position: absolute;
    width: 20px;
    height: 20px;
}